* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

.main__btn {
  background: linear-gradient(88deg, #0041a4 3.4%, #00a386 98.93%);
  box-shadow: 0px 10px 50px rgba(0, 221, 185, 0.25);
  border-radius: 15px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.submit__btn {
  background: #73a56c;
  border-radius: 15px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 1070px;
  padding: 0 20px;
}
